*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*global selector styles*/
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(150, 236, 207);
    align-items:center ;
    height: 70px;
    position: fixed;
    width: 100%;
}
ul{
    display: flex;
    list-style: none;
    margin-left: 755px;
    gap: 15px;
}
a{
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(21, 201, 96);
    font-weight: 500;
}
button{
    padding: 9px 40px;
    border-radius: 9px;
    border-color:rgb(47, 136, 106);
    background-color:rgb(21, 201, 96);
    transition:cubic-bezier(0.075, 0.82, 0.165, 1)
}
button:hover{
    background-color: rgb(199, 174, 223);
    border-color: rgb(132, 0, 255);
}
#create{
    color: rgb(255, 255, 255);
    margin-right: 30px;
    padding: 2px 30px;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 25px;
    font-weight: 600;
    width: 200px;
}
li{
    color:white;
    font-weight: 600;
}
#body-container{
    margin-left: 90px;
    margin-top: 150px;
    width: 50%;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    color: rgb(21, 201, 96);
}
#parent-container{
    display: flex;
    background-color: rgb(174, 250, 225);
    height: 110vh;
    width: 100%;
    border-bottom: 1px solid rgb(21, 201, 96);
    border-radius: 0px 0px 15px 15px;
    padding-top: 40px;
}
hr{
    background-color: rgb(21, 201, 96);
    border-color:  rgb(0, 255, 106);
    height: 4px;
    width: 450px;
    margin-top: 15px;
}
#apple,#google{
    margin-right: 95px;
    margin-top: 40px;
    padding: 5px 20px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;
}
legend{
    font-size: 15px;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -40px;
}
#buttons-for{
    display: flex;
    margin-left: 0px;
    transition-timing-function:step-end;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 25px;
    color: rgb(43, 36, 36);
    font-style: oblique;
}
img{
    padding-left: 110px;
    padding-top: 73px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#header-container{
    min-height: 100vh;
    border-radius: 50px;
}
#mains-container,#mains-container2{
    margin-left: 90px;
    margin-top: 90px;
    font-weight: 400;
    font-style: oblique;
    width: 90%;
}
#bt-gr{
    display: flex;
    margin-top: 5px;
    position: sticky;
}
h3{
    margin-left: 80px;
    font-size: 30px;
}
#user-info{
    margin-top: 90px;
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
#details,#details-no{
    margin-top: 20px;
    margin-left: 100px;
    width: 15px;
    height: 15px;
}
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    margin-left: 15px ;
}
#Join{
    margin-left: 130px;
    margin-top: 20px;
    width: 80%;
    height: 50px;
    text-shadow: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-style: oblique;
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: delay 4px;
}
#join-container-footer{
    min-height: 20vh;
    background-color: aquamarine;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
h2{
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-style: oblique;
    color: rgb(21, 201, 96);
    letter-spacing: 1px;
}